<!DOCTYPE html>
<html lang='utf-8'>
<meta charset="utf-8">

<head>
    <title>checks</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%; margin-top: -7%; ">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/" class="w3-bar-item w3-button">HOME</a>
        <a href="/newMemo" class="w3-bar-item w3-button">차량 등록</a>
        <a href="/checks" class="w3-bar-item w3-button">차량 확인</a>
        
    </div>

    <div class="title">차량 정보 확인</div>
    <table border="1">
        <tr>
            <th>차량번호</th>
            <th>차량등록여부</th>
            <th style="width:100px;">확인완료</th>
        </tr>
        <tr>
            <td>78마 8125</td>
            <td class="other" id="outside">외부등록차량</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>78마 8125</td>
            <td class="register">등록된 차량</td>
            <td><input type="checkbox"></td>
        </tr>
    </table>
</body>

</html>