<!DOCTYPE html>
<html lang='utf-8'>
<meta charset="utf-8">

<head>
    <title>new Memo Add</title>
    <link rel='stylesheet' href='/stylesheets/new.css' />
</head>

<body>
    <h1>차량 등록하기</h1>
    <% if(typeof errs !=="undefined" ) { %>
        <% errs.forEach((err)=>{%> <h4 style="color: red;">
                <%=err.param%> : <%=err.msg%>
            </h4>
            <% }) %>
                <% } %>
                    <form method="POST" action="/store"> 
                        <input name="content" class="input"></input> 
                        <input type="submit" value="등록하기" class="submit"> 
                        <input type="button" value="돌아가기" class="back" onclick="javascript:location.href='/'">
                    </form>
</body>

</html>